.flex
  display: flex

.wrap
  flex-wrap: wrap

.align-center
  justify-content: center;
  align-items: center
  height: 100%
  text-center: center

.align-top
  align-items: flex-start
  height: 100%
  text-center: center

.align-bottom
  align-items: flex-end
  height: 100%
  text-center: center

.full-height
  height 100vh
