.blog
  margin-top 60px
  min-height 100vh;

  .title
    color #242424
    font-size 36px
    font-weight 700
    text-transform uppercase
    text-align center
    margin-bottom 10px

    &::after
      content ''
      display: block
      width: 100px
      margin: 0 auto
      height: 7px
      background: $green

  .subtitle
    color #808080
    font-size 18px
    font-weight 400
    text-align center
    margin-bottom 80px

  .post
    flex-basis: 300px
    margin: 10px
    padding: 10px

  .post-title
    font-size 22px
    color: #242424

  .hr-green
    content ''
    display: block
    width: 50px
    margin: 3px 0px 3px 0px
    height: 7px
    background: $green
    margin-top 10px;
    margin-bottom 10px
    border none

  .post-date
    font-size 16px
    color #3b3a3a
