.events
  margin-top 60px
  min-height 100vh

  .title
    color #242424
    font-size 36px
    font-weight 700
    text-transform uppercase
    text-align center
    margin-bottom 10px

    &::after
      content ''
      display: block
      width: 100px
      margin: 0 auto
      height: 7px
      background: $green

  .subtitle
    color #808080
    font-size 18px
    font-weight 400
    text-align center
    margin-bottom 80px

  // .event
  //   span(1/4, top)
  //   margin-bottom 30px
  //
  //   +below('t')
  //     span(2/4, top)
  //     text-align center
  //
  //   +below('m')
  //     span(4/4, top)

  .event-date
    color $gray
    font-size 45px
    font-weight 700

    &::after
      content ''
      background $green
      width 50%
      height 5px
      margin 10px 0 14px 0
      display block

      +below('t')
        margin 10px auto 14px auto

  .event-title
    font-size 14px
    color $gray
    text-transform uppercase

  .event-organizer
    font-size 12px
    font-weight 700
    color $tundora
    margin-top 5px

  .event-link
    color $green
    font-size 12px
    font-style italic
    font-weight 700


.event
  background: rgba(0, 0, 0, 0.2)
  min-height: 100px
  flex-basis: 250px
  margin: 10px
  background-size: cover!important
  padding: 10px
