.header
  position absolute
  width 100%
  z-index 2
  border-top 5px solid $white

  .logo-content
    span(2/5)

  .logo
    background $white
    width 120px
    height 120px
    position relative

  .image
    display block
    max-width 75%
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)

  .menu
    span(3/5)
    height 100px
    text-align right

  .menu-item
    display inline-block
    vertical-align middle

  .menu-link
    font-size 16px
    color $white
    font-weight 400
    margin-right 40px
    line-height 100px

  .menu-social
    color $white
    font-size 22px
    margin-right 20px
