.header
  position absolute
  width 100%
  z-index 2

  .logo
    span(2/5)

  .menu
    span(3/5)
    height 80px
    text-align right

  .menu-item
    display inline-block
    vertical-align middle

  .menu-link
    font-size 16px
    color $white
    font-weight 400
    margin-right 40px
    line-height 80px

  .menu-social
    color $white
    font-size 22px
    margin-right 20px
