.header
  position fixed
  background-color $white
  width 100%
  z-index 2

.logo,
.menu
  display inline-block
  vertical-align middle
  width 100%

.logo
  max-width 20%
  padding 15px 0

.logo img
  max-width 40%
  display inline-block

.menu
  max-width 80%
  text-align right

.menu-item
  display inline-block
  vertical-align middle
  margin-left 15px

.menu-item a
  color $green
  font-family $roboto
  font-size 16px
  font-weight 500
  text-transform uppercase