.hero
  width 100%
  min-height 100vh
  background url('../images/hero.png')
  background-size cover
  position relative

  .hero-text
    position absolute
    top 80%
    left 80%
    transform translate(-80%, -80%)
    text-align center

  .hero-text-title,
  .hero-text-subtitle
    text-transform uppercase
    color $white
    font-weight 600

  .hero-text-title
    font-size 100px
    font-weight 800

  .hero-text-subtitle
    font-size 36px

  .hero-text-subtitleafter
    content none
