.partners
  padding 60px 0 80px 0
  min-height 100vh
  background $green

  .title
    color $white
    font-size 36px
    font-weight 700
    text-transform uppercase
    text-align center
    margin-bottom 10px

  .subtitle
    color $white
    font-size 18px
    font-weight 400
    text-align center
    padding-bottom 80px
