.partners
  padding 60px 0 80px 0
  min-height 100vh
  background $green

  .title
    color $white
    font-size 36px
    font-weight 700
    text-transform uppercase
    text-align center
    margin-bottom 10px

    &::after
      content ''
      display: block
      width: 100px
      margin: 0 auto
      height: 7px
      background: $gray
      opacity .3

  .subtitle
    color $white
    font-size 18px
    font-weight 400
    text-align center
    padding-bottom 80px

  .partner {
    background: rgba(0, 0, 0, 0.2)
    height: 100px
    flex-basis: 250px
    margin: 10px
    background-size: cover!important
    padding: 10px
  }
